[Monitoring]
sample_rate=44100
buffer_size=20

[Remote]
remote_host=127.0.0.1
remote_port=1337
remote_key=test

[Logging]
noise_limit=10000
use_screenlog=True
use_sqlite=True
noise_archive="archives/noise_archive"

[Record]
use_recording=True
noise_limit=5000
record_time=5
record_archive="archives/record_archive"

